<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PBL3_QLQuanNet.Properties.Settings.QL_QuanNetConnectionString"
            connectionString="Data Source=admin-pc\admin;Initial Catalog=QL_QuanNet;User ID=sa;Password=Qh@61030803"
            providerName="System.Data.SqlClient" />
        <add name="PBL3_QLQuanNet.Properties.Settings.QL_QuanNetConnectionString1"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=QL_QuanNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>